# Virtual Environments
venv/
backend/venv/
*.venv/

# Python Cache
__pycache__/
*.pyc

# Flutter Build
frontend/build/
frontend/.dart_tool/

# Materials API Key (Deep)
backend/.env/

#PINN Training Datasets
Part1
Part2